{% extends "tasks/layout.html" %}

{% block content %}



<h1>Task List</h1>


<div class="active-tasks">

    <div class="most-important-tasks">
        <h2>Most Important Tasks</h2>
        {% include 'tasks/task_table.html' with tasks=task_categories.most_important_tasks %}
    </div>

    <div class="very-important-tasks">
        <h2>Very Important Tasks</h2>
        {% include 'tasks/task_table.html' with tasks=task_categories.very_important_tasks %}
    </div>

    <div class="important-tasks">
        <h2>Important Tasks</h2>
        {% include 'tasks/task_table.html' with tasks=task_categories.important_tasks %}
    </div>

    <div class="not-important-tasks">
        <h2>Not Important Tasks</h2>
        {% include 'tasks/task_table.html' with tasks=task_categories.not_important_tasks %}
    </div>

</div>

{% endblock %}